[Desktop Entry]
Exec=boincscr
Icon=preferences-desktop-screensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
TryExec=xscreensaver
Actions=InWindow;Root;Setup;
Name=BOINC ScreenSaver
Name[de]=BOINC Bildschirmschoner
Name[en_GB]=BOINC ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL

[Desktop Action Setup]
Exec=kxsconfig boincscr
Name=Setup...
Name[de]=Einrichtung ...
Name[en_GB]=Setup...

[Desktop Action InWindow]
Exec=kxsrun boincscr -- -window -window-id %w
Name=Display in Specified Window
Name[de]=In bestimmten Fenster anzeigen
Name[en_GB]=Display in Specified Window
NoDisplay=true

[Desktop Action Root]
Exec=kxsrun boincscr -- -root -boinc_dir /var/lib/boinc
Name=Display in Root Window
Name[de]=In Hintergrundfenster anzeigen
Name[en_GB]=Display in Root Window
NoDisplay=true

